HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Allow nested targets (optional)
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iml

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
